body {
    font-family: 'Noto Sans KR';
    background-color: #EAE8FE;
}

.ir {
    display: block;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    line-height: 0;
    font-size: 1px;
    color: transparent;
}

#app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0 28px;
    padding-top: 247px;
    font-family: 'Noto Sans KR', sans-serif;
}

#app .vending-machine,
#app .my-info {
    width: 360px;
    height: 545px;
    padding: 31px 27px;
    box-sizing: border-box;
    background-color: white;
}

/* 타이틀 스타일링 */
.tit-app {
    top: 0;
    width: 100%;
    max-width: 386px;
    height: 180px;
    background: no-repeat center / 100% 100% url(../img/Logo_img.png);
}

.vending-machine .list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.vending-machine .list-item li {
    width: 94px;
    height: 130px;
    padding: 11px 0;
    /* border: 3px solid #6327FE; */
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px lightgray;
    margin-bottom: 12px;
    position: relative;
}

.vending-machine .list-item li:nth-child(1),
.vending-machine .list-item li:nth-child(5) {
    border: 3px solid #6327FE;
    border-radius: 10px;
}

.vending-machine .list-item li:nth-child(2)::before {
    content: '';
    background: no-repeat center / 58px 45px url(../img/Sold-out.png) rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.vending-machine .list-item li button {}

.vending-machine .list-item .img-item {
    width: 36px;
}

.list-item .btn-item .tit-item {
    line-height: 22px;
    font-size: 9px;
}

.list-item .btn-item .txt-item {
    display: block;
    width: 70px;
    height: 22px;
    background: #6327FE;
    border-radius: 50px;
    font-size: 12px;
    color: white;
    line-height: 22px;
    margin: auto;
}


.cont-return,
.cont-put {
    height: 33px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 13px;
    font-size: 13px;
}

.cont-return .info-balance {
    width: 200px;
    line-height: 33px;
    background-color: #EAE8FE;
    font-size: 14px;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.cont-return .info-balance .txt-balance {
    float: right;
}

.cont-return .btn-return {
    width: 94px;
    box-shadow: 0px 0px 5px lightgray;
}

.cont-put .inp-put {
    width: 200px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0 6px;
}

.cont-put .btn-put {
    width: 94px;
    box-shadow: 0px 0px 5px lightgray;
}

.cont-get {
    height: 106px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.cont-get .list-item-staged {
    width: 200px;
    padding: 12px;
    box-sizing: border-box;
    background-color: #EAE8FE;
    overflow: scroll;
}

.cont-get .btn-get {
    width: 94px;
    background: #6327FE;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    font-size: 13px;
}

.cont-myitem  {
    margin-top:20px;
    text-align: right;
 }

 .cont-myitem .txt-total {
     font-size:12px;
     padding-top:6px;
 }

.list-item-staged .item-staged {
    height: 46px;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 46px;
    gap: 0 10px;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 6px;

}

.item-staged img {
    width: 18px;
}

.item-staged .txt-item {
    font-size: 9px;
    flex-grow: 1;
}

.item-staged .num-counter {
    width: 30px;
    height: 30px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
}


.my-info .cont-mymoney .info-mymoney {
    height: 32px;
    background-color: #EAE8FE;
    line-height: 32px;
    font-size: 14px;
    overflow: hidden;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.cont-mymoney .info-mymoney .txt-mymoney {
    float: right;
}

.my-info .cont-myitem .list-item-staged {
    width: 306px;
    height: 304px;
    background-color: #EAE8FE;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 5px;
}

@media only screen and (max-width: 360px) {
    
    body {
        background-color: #fff;
    }

    #app {
        padding-top:50px;
    }

    .tit-app {
        width:166px;
        height:71.12px;
        background: no-repeat center / 100% 100% url(../img/Logo_img.png);
    }

}